@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import "var";

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: $lightgray;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}
